body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    max-width: 900px;
    margin: 2rem auto;
    background: #F7F9F9;
}

.add-form {
    background: #F2EFEB;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    gap: 10px;
}

input[type="url"] {
    width: 65%;
    padding: 10px;
    border-radius: 4px;
    font-size: 11pt;
    border: 0.2px solid #ccc;
    font-weight: 600;
    transition: transform 0.2s ease-in-out;
}

input[type="number"] {
    width: 18%;
    padding: 10px;
    font-size: 11pt;
    border-radius: 4px;
    border: 0.2px solid #ccc;
    font-weight: 600;
    transition: transform 0.2s ease-in-out;
}

input:hover {
    transform: scale(1.01);
}

button {
    cursor: pointer;
    font-size: 12pt;
    padding: 8px 15px;
    border: none;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    transition: transform 0.2s ease-in-out;
}

.btn-add {
    background: #28a745;
}

.btn-add:hover {
    background: #4fe772;
    transform: scale(1.05);
}

.btn-delete {
    background: #dc3545;
    padding: 18px 15px;
}

.btn-delete:hover {
    background: #ff6373;
    transform: scale(1.02);
}

.btn-statistics {
    background: #ffa600;
    padding: 18px 15px;
}

.btn-statistics:hover {
    background: #ffc456;
    transform: scale(1.02);
}

.btn-change-interval {
    background: #007bff;
    display: inline-block;
    color: white;
    font-weight: 600;
    border-radius: 10px;
}

.btn-change-interval:hover {
    background: #5eacff;
    transform: scale(1.02);
}

table {
    background: #F2EFEB;
    border-radius: 10px;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed;
}

th,
td {
    padding: 12px 20px;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

table tbody tr:last-child td {
    border-bottom: none;
}

#url {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.changed {
    color: red;
}

.not_changed {
    color: green;
    font-weight: 600;
}
