<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statistics - Monitoring</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Statistics for Endpoint #{{ endpoint_id }}</h1>

    <div style="margin-bottom: 20px;">
        <a href="/" class="btn-change-interval" style="text-decoration: none; padding: 10px 20px;">
            &larr; Back to Monitoring
        </a>
    </div>

    <table>
        <thead>
            <tr>
                <th style="width: 60%;">Date and Time</th>
                <th style="width: 40%; text-align: center;">Changes Detected</th>
            </tr>
        </thead>
        <tbody id="stats-body">
            {% if statistics %}
                {% if statistics is mapping %}
                    <tr>
                        <td>{{ statistics.date }}</td>
                        <td style="text-align: center;">
                            <strong>{{ statistics.change_detected }}</strong>
                        </td>
                    </tr>
                {% else %}
                    {% for entry in statistics %}
                    <tr>
                        <td>{{ entry.date | format_datetime }}</td>
                        <td style="text-align: center;">
                            {% if entry.change_detected == 1 %}
                            <strong class="changed">YES</strong> {% else %}
                            <span class="not_changed">No</span> {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                {% endif %}
            {% else %}
            <tr>
                <td colspan="2" style="text-align: center; color: #777;">
                    No statistics recorded yet.
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script>
    const socket = io();
    const endpoint_id = "{{ endpoint_id }}";
    socket.emit('join', {endpoint_id: endpoint_id});

    socket.on('new_stat', function(data) {
        const tableBody = document.getElementById('stats-body');
        const newRow = tableBody.insertRow(0);

        const d = new Date(data.date * 1000);
        const dateStr = d.getDate().toString().padStart(2, '0') + '.' +
                    (d.getMonth() + 1).toString().padStart(2, '0') + '.' +
                    d.getFullYear() + ' ' +
                    d.getHours().toString().padStart(2, '0') + ':' +
                    d.getMinutes().toString().padStart(2, '0');
        const status = data.change_detected ? 'YES' : 'No';
        const class_name = data.change_detected ? 'changed' : 'not_changed'

        newRow.innerHTML = `<td>${dateStr}</td><td style="text-align: center;" class=${class_name}>${status}</td>`;
    });
</script>
<!--    <script src="{{ url_for('static', filename='script.js') }}"></script>-->
</body>
</html>